.widget {
  background-color: var(--widget-bg);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.widget-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.goal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  padding: 16px;
  border-radius: .7rem;
}

.goal-info .name {
  font-weight: 500;
  display: block;
}

.goal-info .subject {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.goal-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid var(--text-secondary);
  border-radius: 50%;
  cursor: pointer;
}