* {
    list-style-type: none;
    text-decoration: none;
    color: #E8F4FC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 70vh;
    width: 100%;
    background-color: #00000050;
    border-radius: 0 2rem 2rem 0;
    padding: 3rem;
}