.article-info-container {
  max-width: 100rem;
  margin-left: 300px;
}

.article-info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: var(--secondary-bg-tp);
  border-radius: 1rem;
}

.article-info-grid > app-info-section {
  flex-basis: calc(33.333% - 20px);
  flex-grow: 1;
  min-width: 28rem;
}