.community-info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--secondary-bg-tp);
  border-radius: 1rem;
  padding: 1rem 1rem 1rem;
  overflow: hidden;
}

.community-info-grid > app-card {
  flex-basis: calc(33.333% - 20px);
  flex-grow: 1;
  min-width: 30rem;
}