:host {
  display: block;
  margin-left: 300px;
  padding: 24px 40px;
  font-family: 'Inter', sans-serif;
  color: #E8F4FC;
}

.page-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.section-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem 0;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 20px;
  justify-content: space-between;
}

.metrics-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.metrics-flex > app-metric-card {
  /* flex-grow: 1 -> Permite que o item cresça.
    flex-shrink: 1 -> Permite que o item encolha (padrão).
    flex-basis: 250px -> Define o tamanho base do item.
  */
  flex: 1 1 250px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
  align-items: start;
}

.comments-section {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

/* --- Media Queries para Responsividade --- */
@media (max-width: 1200px) {
  :host {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  :host {
    padding: 24px 20px;
  }
}