:host {
  display: block;
  padding: 24px 40px;
  font-family: 'Inter', sans-serif;
  color: #E8F4FC;
}

h2 {
    margin: 2rem 0 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}