.widget {
  border-radius: var(--border-radius);
  display: flex;
}

.widget-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comment-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background-color: var(--secondary-bg);
  border-radius: 8px;
}

.comment-icon {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.comment-date {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.comment-user {
  font-weight: 500;
  font-size: .8rem;
}

.comment-tag {
  background-color: #5D5FEF;
  color: #FFFFFF;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  font-weight: 500;
}

.arrow-button {
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
}