<div class="background">
    <header>
        <div class="header flex">
            <a href="#">
                <img class="logo" src="/logomarca.png" alt="logo">
            </a>
            <nav>
                <ul class="flex">
                    <li> <a href="#">Home</a></li>
                    <li> <a href="#">Cursos</a></li>
                    <li> <a href="#">Artigos</a></li>
                    <li> <a href="#">Exercícios</a></li>
                    <li> <a href="#">Comunidade</a></li>
                </ul>
            </nav>

            <button>Cadastre-se</button>
        </div>
    </header>
</div>