<div *ngIf="info">
  <div
    *ngIf="layout === 'info'"
    class="info-card"
    [ngStyle]="{ 'background-image': 'url(' + info.bgImage + ')' }"
  >
    <div *ngIf="info.bgImage" class="info-overlay"></div>
    <div *ngIf="info.image" class="info-image-container">
      <img class="info-image" [src]="info.image" alt="Foto sobre {{ info.title }}" />
    </div>
    <div class="info-content">
      <h2 class="info-title">{{ info.title }}</h2>
      <p *ngIf="info.subtitle" class="info-subtitle">{{ info.subtitle }}</p>

      <div
        *ngIf="info.image || info.bgImage"
        [ngClass]="info.image ? 'info-footer' : 'popular-footer'"
      >
        <div class="author-info">
          <img [src]="info.authorAvatar" [alt]="'Avatar de ' + info.author" class="author-avatar" />
          <div>
            <p class="author-name">{{ info.author }}</p>
            <p *ngIf="info.authorRole" class="author-role">{{ info.authorRole }}</p>
          </div>
        </div>

        <span *ngIf="info.minutesToRead" class="read-time">{{ info.minutesToRead }} min</span>
        <span *ngIf="info.answerCount" class="answer-count">Respostas: {{ info.answerCount }}</span>

        <span *ngIf="info.hitPercentage" class="flex">
          Acertos: <span class="hit-percentage flex">{{ info.hitPercentage }}%</span>
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="layout === 'main'" class="main-info-card">
    <div class="main-image-container">
      <img class="main-image" [src]="info.image" alt="Foto sobre {{ info.title }}" />
    </div>
    <div class="main-info-content">
      <h2 class="main-info-title">{{ info.title }}</h2>
      <p class="main-info-subtitle">{{ info.subtitle }}</p>
      <div class="main-info-footer">
        <div class="author-main-info">
          <img [src]="info.authorAvatar" alt="Avatar de {{ info.author }}" class="author-avatar" />
          <div>
            <p class="author-name">{{ info.author }}</p>
          </div>
        </div>
        <span *ngIf="info.minutesToRead" class="read-time">{{ info.minutesToRead }} min</span>
        <span *ngIf="info.answerCount" class="answer-count">Respostas: {{ info.answerCount }}</span>
        <span *ngIf="info.hitPercentage" class="flex">
          Acertos:
          <span class="hit-percentage flex">{{ info.hitPercentage }}%</span>
        </span>
      </div>
    </div>
  </div>
</div>
