:host {
  display: block;
  font-family: 'Inter', sans-serif;
  color: #e8f4fc;
}

.info-card:hover {
  transform: scale(1.02);
}

.info-overlay {
  position: absolute;
  inset: 0;
  transition: background-color 0.2s ease-in-out;
}

.info-card:hover .info-overlay {
  background: rgba(0, 0, 0, 0.1);
}

.info-content {
  position: relative;
  z-index: 1;
}

.info-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.info-subtitle {
  flex-grow: 1;
  color: #e8f4fc80;
}

.info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc; /* Cor de fundo enquanto a imagem não carrega */
}

.author-name {
  margin: 0;
  font-weight: 500;
}

.author-role {
  margin: 0;
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.read-time {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.hit-percentage {
  width: 35px;
  height: 35px;
  border: 2px solid;
  border-radius: 50%;
  font-size: 0.8rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-info-card {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 28rem;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: transform 0.6s ease, background-size 1.5s ease;
}

.main-info-card:hover {
  transform: scale(1.02);
}

.main-info-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.8s ease-in-out;
}

.main-info-card:hover .main-info-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.info-image-container {
  max-width: 30rem;
  max-height: 15rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.main-image-container {
  max-width: 40rem;
  max-height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  overflow: hidden;
}

.main-image,
.info-image {
  width: 100%;
  height: 100%;
}

.main-info-content {
  position: relative;
  z-index: 1;
}

.main-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 16px 0;
  flex-grow: 1;
}

.main-info-subtitle {
  font-size: 1.25rem;
  flex-grow: 1;
  color: #e8f4fc80;
}

.main-info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.author-main-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc; /* Cor de fundo enquanto a imagem não carrega */
}

.author-name {
  margin: 0;
  font-weight: 500;
}

.author-role {
  margin: 0;
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.read-time {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.hit-percentage {
  width: 35px;
  height: 35px;
  border: 2px solid;
  border-radius: 50%;
  font-size: 0.8rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ---------------------------------------------------------------- */
.info-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 300px;
  min-width: 28rem;
  transition:
    transform 0.6s ease,
    background-size 1.5s ease;
}

.info-card:hover {
  transform: scale(1.02);
}

.info-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.8s ease-in-out;
}

.info-card:hover .info-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.popular-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 1rem;
}