:host {
    display: block;
    margin-left: 300px;
    padding: 24px 40px;
}

@media (max-width: 1200px) {
  :host {
    margin-left: 0;
    padding: 20px;
  }
}


h2 {
    margin: 2rem 0 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}