* {
    list-style-type: none;
    text-decoration: none;
    color: #E8F4FC;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar,
.user,
.menu,
.total-hour {
    flex-direction: column;
}

.nexus {
    width: 60px;
    font-weight: bold;
}

.logo-header {
    cursor: pointer;
}

.sidebar {
    box-sizing: border-box;
    background-color: #2A5D84;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-evenly;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    padding: 50px 0;
    height: 100vh;
}

.user {
    margin-top: 20px;
    gap: 10px;
}

.user p {
    color: #E8F4FC60;
}

.profile-photo {
    border-radius: 50%;
    object-fit: cover;
}

.profile-btn {
    background-color: #1E4C73;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    background: conic-gradient(#E8F4FC 3.6deg, #1E4C73 0deg);
    width: 170px;
    height: 170px;
    justify-content: center;
}

.circle::before {
    content: "";
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: #2A5D84;
}

.valor {
    position: relative;
    width: 70%;
    text-align: center;
    font-weight: bold;
}

.menu {
    align-items: flex-start;
    font-size: 20px;
    gap: 20px;
    font-weight: 700;
}

.menu li a,
.menu li a span {
    color: #E8F4FC80;
    transition: color 0.3s ease;
    display: flex;
    gap: 1rem;
}

.menu li a:hover,
.menu li a:hover span {
    color: #E8F4FC;
}

/* Estilo para o link e o ícone QUANDO o 'li' PAI tiver a classe 'ativado' */
.menu li.ativado a,
.menu li.ativado a span {
    color: #E8F4FC;
}
@media (max-width: 1540px) {
    .sidebar {
        padding: 20px;
        gap: 30px;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .circle::before {
        width: 135px;
        height: 135px;
    }
}

@media (max-width: 1200px) {
  .sidebar {
    display: none !important;
  }

  .sidebar.open {
    display: flex !important;
    z-index: 1000;
  }
}