<aside class="sidebar flex">
  <div class="profile">
    <div class="flex">
      <img src="/logomarca.png" alt="Logo Nexus Studium" width="50px" />
      <p class="nexus">Nexus Studium</p>
    </div>
    <div class="user flex">
      <img
        src="https://images.unsplash.com/photo-1764418659027-b1da026826ec?q=80&w=987"
        alt="Foto de Perfil"
        class="profile-photo"
        width="85px"
        height="85px"
      />
      <h2>Olá, {{ userName }}!</h2>
      <p>{{ userEmail }}</p>
    </div>
  </div>
  <div #circle class="circle flex">
    <span #valor class="valor">
      <p #total>Horas Totais:</p>
      <h2 #hours class="hours">{{ totalHours }}</h2>
    </span>
  </div>

  <nav>
    <ul class="menu flex">
      <li routerLinkActive="ativado">
        <a routerLink="/dashboard">
          <span class="material-symbols-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/course">
          <span class="material-symbols-outlined">school</span> Cursos
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/articles">
          <span class="material-symbols-outlined">article</span> Artigos
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/exercises">
          <span class="material-symbols-outlined">exercise</span> Exercícios
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/community">
          <span class="material-symbols-outlined">groups</span> Comunidade
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/contributions">
          <span class="material-symbols-outlined">volunteer_activism</span> Suas Contribuições
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/course">
          <span class="material-symbols-outlined">settings</span> Configurações
        </a>
      </li>
    </ul>
  </nav>
</aside>
