<div class="info-card" *ngIf="info">
  <div class="info-content">
    <h2 class="info-title">{{ info.title }}</h2>
    <p class="info-subtitle">{{ info.subtitle }}</p>
    <div class="info-footer">
      <div class="author-info">
        <img [src]="info.authorAvatar" alt="Avatar de {{ info.author }}" class="author-avatar">
        <div>
          <p class="author-name">{{ info.author }}</p>
        </div>
      </div>
      <span *ngIf="info.minutesToRead" class="read-time">{{ info.minutesToRead }} min</span>
      <span *ngIf="info.hitPercentage" class="flex">
        Acertos:
        <span class="hit-percentage flex">{{ info.hitPercentage }}%</span>
      </span>
    </div>
  </div>
</div>