<header class="nav flex">
  <div class="left flex">
    <div (click)="toggleSidebar()" class="logo-link">
      <img src="logomarca.png" alt="Nexus Logo" class="logo" />
    </div>
    <h2>Tema que pesquisou</h2>
  </div>
  <div class="right flex">
    <div class="search-bar">
      <form class="bg-search" role="search">
        <button title="btn" class="search-button" type="submit">
          <i class="ai-search"></i>
        </button>
        <input class="search-input" type="text" placeholder="O que você quer aprender?" />
      </form>
    </div>
    <i class="ai-bell"></i>
  </div>
</header>
