:host {
  display: block;
  padding: 24px 40px;
  font-family: 'Inter', sans-serif;
  color: #e8f4fc;
}

.popular-courses-container {
  overflow: hidden;
}

h2 {
  text-align: center;
}

.popular-courses-grid {
  display: flex;
  gap: 30px;
}