:root {
  --primary-bg: #1E4C73;
  --secondary-bg: #202850;
  --accent-color: #5D5FEF;
  --text-primary: #FFFFFF;
  --text-secondary: #B0B8C4;
  --border-radius: 12px;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif; /* Ou outra fonte de sua preferência */
}