:host {
  display: block;
  margin-left: 350px; 
  padding: 24px 40px;
}

.content-tabs {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.tab-item {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.tab-item.active {
  color: var(--text-primary);
  border-bottom-color: var(--accent-color);
}

.courses-in-progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /* Proporção entre as colunas */
  gap: 30px;
  margin-bottom: 30px;
}