<aside class="sidebar flex">
  <nav>
    <ul class="menu flex">
      <li routerLinkActive="ativado">
        <a routerLink="/dashboard">
          <span class="material-symbols-outlined">dashboard</span> Geral
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/course">
          <span class="material-symbols-outlined">security</span> Segurança
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/articles">
          <span class="material-symbols-outlined">notifications</span> Notificações
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/exercises">
          <span class="material-symbols-outlined">money</span> Assinatura
        </a>
      </li>
      <li routerLinkActive="ativado">
        <a routerLink="/course">
          <span class="material-symbols-outlined">help</span> Ajuda/Suporte
        </a>
      </li>
    </ul>
  </nav>
</aside>
