* {
    list-style-type: none;
    text-decoration: none;
    color: #E8F4FC;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar,
.user,
.menu,
.total-hour {
    flex-direction: column;
}

.nexus {
    width: 60px;
    font-weight: bold;
}

.sidebar {
    box-sizing: border-box;
    border-radius: 2rem 0 0 2rem;
    background-color: #00000030;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    height: 70vh;
    padding: 3rem;
}

.menu {
    align-items: flex-start;
    font-size: 20px;
    gap: 20px;
    font-weight: 700;
}

.menu li a,
.menu li a span {
    color: #E8F4FC80;
    transition: color 0.3s ease;
    display: flex;
    gap: 1rem;
}

.menu li a:hover,
.menu li a:hover span {
    color: #E8F4FC;
}

/* Estilo para o link e o ícone QUANDO o 'li' PAI tiver a classe 'ativado' */
.menu li.ativado a,
.menu li.ativado a span {
    color: #E8F4FC;
}
@media (max-width: 1540px) {
    .sidebar {
        padding: 20px;
        gap: 30px;
    }
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}